<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item">
      <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-link"
               style="padding: 0; background: none; border: none; color: inherit; text-decoration: underline;">
      </form>
    </li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item"><a href="{% url 'catalog:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:redactor-list' %}">All redactors</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:newspaper-list' %}">All newspapers</a></li>
  <li class="list-group-item"><a href="{% url 'catalog:topic-list' %}">All topics</a></li>
</ul>
