{% extends "base.html" %}

{% block content %}
  <h1>
    {{ newspaper.title }}
    <a href="{% url 'catalog:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'catalog:newspaper-update' pk=newspaper.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>

  <p>Topic:
    {% if newspaper.topic %}
      {{ newspaper.topic.name }}
    {% else %}
      No topic
    {% endif %}
  </p>

  <h2>Content</h2>
  <p>{{ newspaper.content }}</p>  <!-- Add this line to display the content -->

  <h3>Redactors</h3>

  {% if newspaper in user.newspapers.all %}
    <a href="{% url 'catalog:toggle-newspaper-assign' pk=newspaper.id %}" class="btn btn-danger link-to-page">
      Remove me from this newspaper
    </a>
  {% else %}
    <a href="{% url 'catalog:toggle-newspaper-assign' pk=newspaper.id %}" class="btn btn-success link-to-page">
      Assign me to this newspaper
    </a>
  {% endif %}

  <hr>

  <ul>
    {% for redactor in newspaper.publishers.all %}
      <li>{{ redactor.username }} ({{ redactor.first_name }} {{ redactor.last_name }})
        - {{ redactor.years_of_experience }} years of experience
      </li>
    {% endfor %}
  </ul>
{% endblock %}
