{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container my-4">
    <h1 class="mb-4">{{ object|yesno:"Update,Create" }} Newspaper</h1>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}

      <div class="mt-3">
        <input type="submit" value="Submit" class="btn btn-success">
        <a href="{% url 'catalog:newspaper-list' %}" class="btn btn-secondary ms-2">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
